@import url("photographer.css");

body,
* {
	font-family: "DM Sans", sans-serif;
	margin: 0;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	padding-top: 20px;
}

h1 {
	color: #901c1c;
	margin-right: 100px;
}

.logo {
	height: 50px;
	margin-left: 100px;
}

.photographer_section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 70px;
	margin-top: 100px;
}

.photographer_section article {
	justify-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.photographer_section article img {
	object-fit: cover;
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

.photographer_section article h2 {
	color: #d3573c;
	font-size: 36px;
	font-weight: 500;
	margin: 15px 0 5px 0;
}

.photographer_section article .ville {
	color: #901c1c;
	font-weight: normal;
	font-style: normal;
	font-size: 13px;
	line-height: 17px;
	text-align: center;
}

.photographer_section article .tag {
	color: #000000;
	font-weight: normal;
	font-style: normal;
	font-size: 10px;
	line-height: 13px;
	text-align: center;
	margin-top: 2px;
}

.photographer_section article .prix {
	color: #757575;
	font-weight: normal;
	font-style: normal;
	font-size: 9px;
	line-height: 12px;
	text-align: center;
	margin-top: 2px;
}

@media screen and (min-width: 860px) and (max-width: 1045px) {
	.photographer_section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 70px;
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.photographer_section article img {
		object-fit: cover;
		height: 350px;
		width: 350px;
	}

	.photographer_section article h2 {
		font-size: 2.5rem;
		text-align: center;
	}

	.photographer_section article .ville {
		font-size: 1.25rem;
		line-height: normal;
	}

	.photographer_section article .tag {
		font-size: 1rem;
		line-height: normal;
		text-align: center;
		margin-top: 5px;
	}

	.photographer_section article .prix {
		font-size: 0.9rem;
		line-height: normal;
		margin-top: 3px;
	}
}

@media screen and (max-width: 859px) {
	.photographer_section {
		display: grid;
		grid-template-columns: 1fr;
		gap: 70px;
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.photographer_section article img {
		object-fit: cover;
		height: 500px;
		width: 500px;
	}

	.photographer_section article h2 {
		font-size: 4rem;
	}

	.photographer_section article .ville {
		font-size: 2.5rem;
	}

	.photographer_section article .tag {
		font-size: 1.5rem;
		margin-top: 5px;
	}

	.photographer_section article .prix {
		font-size: 1.5rem;
		line-height: normal;
		margin-top: 3px;
	}
}
